## Recuperation de fichier dans S3

In [13]:
import boto3
from dotenv import load_dotenv
from datetime import datetime
import os
import pandas as pd

In [14]:
load_dotenv()

CSV_FILE_NAME_GENERATED_TODAY = f"rates-{datetime.today().date()}.csv".replace("-", "_")
AWS_ACCESS_KEY_ID = os.getenv('AWS_ACCESS_KEY_ID')
AWS_SECRET_ACCESS_KEY = os.getenv('AWS_SECRET_ACCESS_KEY')
AWS_REGION_NAME = os.getenv('AWS_REGION_NAME')
AWS_S3_BUCKET_NAME = os.getenv('AWS_S3_BUCKET_NAME')

In [15]:
s3_client: boto3.client = boto3.client('s3',
                                           aws_access_key_id=AWS_ACCESS_KEY_ID,
                                           aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
                                           region_name=AWS_REGION_NAME)

In [16]:
import io
def get_file(file_name: str = CSV_FILE_NAME_GENERATED_TODAY) -> io.StringIO:
    try:
        response = s3_client.get_object(Bucket=AWS_S3_BUCKET_NAME, Key=file_name)
        csv_content = response['Body'].read().decode('utf-8')
        return io.StringIO(csv_content)
    except Exception as e:
        print(e)
        return None

In [17]:
rates_data:io.StringIO = get_file("data.csv")

In [18]:
rates_data_df = pd.read_csv(rates_data, index_col=0, header=0)
rates_data_df

,symbols,countries,2023-08-01,2023-08-02,2023-08-03,2023-08-04,2023-08-05,2023-08-06,2023-08-07,2023-08-08,2023-08-09,2023-08-10,2023-08-11,2023-08-12,2023-08-13,2023-08-14,2023-08-15
id,,,,,,,,,,,,,,,,,
0,AED,United Arab Emirates Dirham,4.043099,4.019686,4.022484,4.049473,4.049480,4.041187,4.041356,4.025145,4.031967,4.032920,4.026997,4.026998,4.027006,4.014499,4.010152
1,AFN,Afghan Afghani,95.766100,93.477354,94.726257,93.962238,93.236207,93.143581,93.688385,93.177038,92.937526,92.676001,92.238958,92.482921,92.483124,92.901544,92.802710
2,ALL,Albanian Lek,102.591830,102.563852,103.820043,104.572666,103.764650,103.661564,104.071316,103.337010,103.343725,103.364210,103.508844,103.792055,103.792284,104.186004,103.905947
3,AMD,Armenian Dram,425.092730,423.371245,422.921410,425.880111,423.837300,423.416237,424.807217,423.506548,423.803133,423.936361,423.197709,426.367363,426.368302,422.548045,422.152415
4,ANG,Netherlands Antillean Guilder,1.984644,1.975115,1.972484,1.987566,1.972208,1.970249,1.981814,1.974425,1.978654,1.979156,1.975743,1.981148,1.981153,1.970852,1.967884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,YER,Yemeni Rial,275.576485,273.977665,274.116984,276.007997,276.007997,275.445832,275.454828,274.348888,274.818332,274.919690,274.475646,274.475646,274.475398,273.621753,273.330698
166,ZAR,South African Rand,20.116669,20.199719,20.428761,20.361787,20.361787,20.303664,20.588219,20.736414,20.842096,20.683357,20.778900,20.778900,20.754214,20.814908,20.906133
167,ZMK,Zambian Kwacha (pre-2013),9908.193525,9850.725170,9857.586635,9923.709083,9923.709083,9903.514125,9903.837777,9864.058234,9880.948882,9884.571885,9868.614269,9868.614269,9868.627272,9837.912389,9827.443399
168,ZMW,Zambian Kwacha,20.895452,21.013669,21.041027,21.284336,21.119876,21.098894,21.624182,20.952640,20.722757,20.837149,20.906194,20.963395,20.963441,21.105351,21.264567
169,ZWL,Zimbabwean Dollar,354.445514,352.389513,352.634735,355.000334,355.000334,354.277780,354.289658,352.866598,353.470871,353.600687,353.029430,353.029430,353.030207,351.931395,351.556724